.footer{
    display: grid;
    height: 50px;

   margin-bottom: -50px;
    background: #2D3359;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas:
    ". copyright ."
}

.copyright{
    justify-self: center;
    align-self: center;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    grid-area: copyright;
}