.landing-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-top: 5%;
    padding-bottom:15%;
    padding-right: 15%;
    padding-left: 15%;
    grid-template-areas:
        "landing-title"
        "landing-content";
}

.click {
    background-color: #363F73;
    border: none;
    color: white;
    font-size: 18px;
        text-decoration: none;
        display: inline-block;
        padding: 15px 40px;
        border-radius: 10px;
}

.click:hover {
  transition: background-color 1s ease;
  background-color: rgba(242, 87, 87, 0.5);
}

hr {
    width: 60%;
    color: white;
}

.background {
    background-image: url("../images/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-title{
    grid-area: landing-title;
    font-size: 40px;
    display: grid;
}
.landing-title h1{
    justify-self: center;
    font-family: 'Source Sans Pro', sans-serif ;
    padding-bottom: 15px;
        color: white;
}

.landing-content{
    grid-area: landing-content;
    justify-self: center;
    display: grid;
    padding-right: 10%;
    padding-left: 10%;
    font-family: 'Source Sans Pro', sans-serif;;
}
.landing-content p{
    line-height: 2.8rem;
    font-size: 20px;
        color: white;
}



@media only screen and (max-width: 600px) {
   .landing-grid{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 10%;
padding-right: 0;
padding-left: 0;
    grid-template-areas:
        "landing-title"
        "landing-content"
}

 .landing-title h1{
    padding-right: 2%;
    padding-left: 2%;
    font-size: 32px;
    align-self: center;
    margin-bottom: 0;
    text-align: center;
}

.landing-content p{
    line-height: 2.5rem;
    font-size: 14px;
}

.site-links{
    padding-top: 8%;
}
 .tech-link{
    margin-left: 10px;
   }
   .sports-link{
       margin-right: 10px;
   }
}
