
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #363F73;
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 0px 1px 6px black;
}
.nav-header{
  padding-left: 22%;
}
.nav-links{
  padding-right: 20%;
  font-family: "Open Source Pro", sans-serif;
  font-size: 1em;
  color: gray;
}
.nav-title a{
  text-decoration: none;
  color: white;
  font-family: "Pacifico", cursive;
  letter-spacing: 1px;
}
.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 18px;
  color: black;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 15px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 15px 10px 15px 10px;
  text-decoration: none;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

.nav > .nav-links> a:hover {
  transition: background-color 1s ease;
  background-color: rgba(242, 87, 87, 0.5);
}

.nav > #nav-check {
  display: none;
}

@media only screen and (max-width: 1088px) {

.nav-links{
padding-right: 15%;
}
  
  }

@media (max-width:600px) {
  .nav{
    display:grid;
  }
  .nav-header{
    padding-left: 10%!important;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid white;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #363F73;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
